header{

  background-image: url('../images/loveyousomatcha.jpg');
  background-size: cover;
  background-blend-mode: lighten;
  height : 300px;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
    color: rgb(181, 110, 110);
    margin-left: 100px;
}

h2{
    padding-top: 20px;
}