.logo{
    color: rgb(181, 110, 110);
    text-decoration: none;  
}

header{

  background-image: url('../images/loveyousomatcha.jpg');
  background-size: cover;
  background-blend-mode: lighten;
  height : 300px;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
    color: rgb(181, 110, 110);
    text-align: right;
}

h5{
    color: rgb(181, 110, 110);
    text-align: right;
    padding-top: 20px;
}

h2{
    padding-top: 20px;
}