body {
    font-family: pinyon script, cursive;
    font-style: italic;
    font-size: large;
    background-color: rgba(252, 232, 232, 0.87);

}

.header-nav{
    padding: 20px;
    display: flex;
}
.header-nav-menu{
    margin: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header-menu-item{
    margin: 0 40px 0 0;
}

h5{
    color: rgba(181, 110, 110, 0.632);
    margin-left: 100px;
}

h2{
    color: rgb(91, 123, 105);
    margin-left: 100px}

p{
    color: rgb(123, 164, 141); 
    margin-left: 100px;
    margin-right: 100px;

}