body {
    font-family: pinyon script, cursive;
    font-style: italic;
    font-size: large;
    background-color: rgb(252, 232, 232);

}


.navbar ul{
    list-style-type: none;
    padding: 0px;
     margin-left: 100px;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    color:  rgb(91, 123, 105);
    padding: 14px 20px;
    display: flex;
    text-align: center;
}

.navbar a:hover{
    background-color:rgb(173, 186, 179);

}

.navbar li{
    float: right;
}

h5{
    color: rgba(181, 110, 110, 0.632);
    margin-left: 100px;
}

h2{
    color: rgb(91, 123, 105);
    margin-left: 100px}

p{
    color: rgb(123, 164, 141); 
    margin-left: 100px;
    margin-right: 100px;

}